#header {
	background-color: #68a4ff;
	text-align: center;
	font-family: Tahoma, sans-serif;
}

#welcome {
	margin: 0;
}

#content {
	width:90%;
	margin: auto;
	min-height: 90vh;
	padding-bottom: 100px;
}

#navbar{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
	background-color:gray;
	margin:0;
	position:sticky;
	position:-webkit-sticky;
	top:0;
}

.navbar_link, #navbar_spacer{
	text-decoration:none;
	background-color:#f5ebd7;
	padding:10px 5px;
	margin: 0px 1px;
	text-align:center;
	font-size:20px;
}

.navbar_link:hover {
	background-color: #baa884;
}

#current_link {
	background-color: #9c8965;
}

.recipe_container {
	width: 70%;
	margin:auto;
	text-align:center;
	display:grid;
	grid-template-columns: 1fr 3fr 2fr;
}

.recipe_container > * {
	border: solid 3px #A52A2A;
}

.recipe_header {
	background-color: #A52A2A;
	color:white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin:0;
	grid-column: span 3;
}

.recipe_block {
	background-color:#f5ebd7;
}

.recipe_block > * {
	padding:5px;
	margin:0;
}

.restaurant_container{
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;

}

.restaurant_header{
	background-color: #A52A2A;
	grid-column: span 4;
	display: flex;
	justify-content: space-around;
}

.restaurant_container > *{
	border: solid 6px #A52A2A;
}

.restaurant_container img{
	margin: 0;
	width: 100%;
	height: 40%;
}

.restaurant_container p{
	font-size: 20px;
}

body{
	background-color: #EDD9B0;
	margin:0;
}

img{
	width: 50%;
	margin: 10px;
}

h2,h3{
	color: gray;
}

li{
	color: gray;
	font-size: 20px;
}

#footer{
	background-color:#f5ebd7;
	width:100%;
}

#footer > p {
	margin-bottom:0;
	padding:10px;
}

@media (max-width: 700px) {
	#sidebar {
		display:none;
	}
	.recipe_container > * {
		grid-column: span 3;
		margin:0;
	}
	.recipe_container{
		width:100%;
	}
}

