#header {
	background-color: #68a4ff;
	text-align: center;
	font-family: Tahoma, sans-serif;
}

#welcome {
	margin: 0;
}

#content {
	width:80%;
	margin: auto;
	min-height: 90vh;
	padding-bottom: 100px;
}

.subtopic {
	margin-left:40px;
}

.topic > p, .subtopic > p {
	margin-left:20px;
}

p {
	font-size:20px;
}

#navbar{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color:gray;
	margin:0;
	position:sticky;
	position:-webkit-sticky;
	top:0;
}

.navbar_link{
	text-decoration:none;
	background-color:#f5ebd7;
	padding:10px 5px;
	margin: 0px 1px;
	text-align:center;
	font-size:20px;
}

.navbar_link:hover {
	background-color: #baa884;
}

#current_link {
	background-color: #9c8965;
}

body{
	background-color: #EDD9B0;
	margin:0;
}

img{
	width: 50%;
	margin: 10px;
}

h2,h3{
	color: gray;
}

li{
	color: gray;
	font-size: 20px;
}

#footer{
	background-color:#f5ebd7;
	width:100%;
	text-align: center;
}

#footer > p {
	margin-bottom:0;
	padding:10px;
}